@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: lightyellow;
    padding: 1.5rem;
}

h1{
    font-family: "Noto Sans", sans-serif;
}

h2{
    font-family: "Noto Sans", sans-serif;
}   

p{
    font-family: "Quicksand", sans-serif;
}


.card{
    text-align: center;
}
    
.activity{
    background-color: lightslategray;
    display: grid;
    grid-template-areas: 
    "b b b a a"
    "b b b a a"
    "b b b m m"
    "s d d m m"
    "s d d m m";
    height: 20rem;
}

.basketball{
    grid-area: b;
    background-color: orange;
}
    
.actor_game{
    grid-area: a;
    background-color: green;
}

.drawing{

    grid-area: d;
    background-color: blueviolet;
}

.swimming{

    grid-area: s;
    background-color: blue;
}

.music{

    grid-area: m;
    background-color: red;
}